setuptools==41.0.0
tensorflow==1.15.2
cityhash
pylint
jinja2
grpcio-tools
etcd3
influxdb
peewee
apsw
configparser
prettytable
kubernetes
scipy
gmpy2
cityhash
scikit-learn
pycryptodomex
rsa
django==2.2.24
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.0.0
certifi==2022.9.14
